<div class="container content-animate">
    <div class="container px-5 my-5">
        <form id="contactForm">
            <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" placeholder="Name" required/>
                <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" required/>
                <label for="emailAddress">Email Address</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="siteUrl" type="text" placeholder="Site URL" required/>
                <label for="siteUrl">Site URL</label>
            </div>

            <div class="d-grid">
                <button class="btn btn-warning btn-lg " id="submitButton" type="submit">Apply for Affiliate</button>
            </div>
        </form>
    </div>
</div>