<div class="content-animate">
    <div class="row mt-3">
        <div class="col-sm-12">
            <div ng-if="status === 'active'">
                <div class="fs-6 btn disabled btn-outline-success" style="float: right;">
                    Active
                </div>
            </div>
            <div ng-if="status === 'expired'">
                <div class="fs-6 btn btn-outline-danger" style="float: right;">
                    Expired
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="display-4 fw-bold  text-center">
                {{title}}
            </div>
        </div>
    </div>

    <div class="container px-5 my-5">
        <form id="contactForm" enctype="multipart/form-data" method="POST">
            <div class="row">
                <div class="form-floating mb-3 col-sm-6">
                    <input class="form-control" id="company" type="text" placeholder="Company" ng-model="company" />
                    <label for="company">&nbsp;&nbsp;&nbsp;Company</label>
                </div>
                <div class="form-floating mb-3 col-sm-6">
                    <select class="form-select" id="type" aria-label="Type" ng-model="type">
                        <option value="Full-time">Full-Time</option>
                        <option value="Half-time">Half-Time</option>
                        <option value="Freelance">Freelance</option>
                    </select>
                    <label for="type">&nbsp;&nbsp;&nbsp;Type</label>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-sm-6 d-flex align-items-center justify-content-between">
                    <label for="logoUrl" class="form-label mb-0">Upload Logo: </label>
                    <input class="form-control" id="logoUrl" type="file" style="width: 78%;" />
                </div>
                <div class="form-floating mb-3 col-sm-6">
                    <input class="form-control" id="jobUrl" type="text" placeholder="Job URL" ng-model="url" />
                    <label for="jobUrl">&nbsp;&nbsp;&nbsp;Job URL</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-sm-4">
                    <input class="form-control" id="position" type="text" placeholder="Position" ng-model="position" />
                    <label for="position">&nbsp;&nbsp;&nbsp;Position</label>
                </div>
                <div class="form-floating mb-3 col-sm-5">
                    <input class="form-control" id="location" type="text" placeholder="Location" ng-model="location" />
                    <label for="location">&nbsp;&nbsp;&nbsp;Location</label>
                </div>

                <div class="form-floating mb-3 col-sm-3">
                    <select class="form-select" id="category" aria-label="Category" ng-model="category">
                        <option ng-repeat="item in categories" value="{{item}}">{{item}}</option>
                    </select>
                    <label for="category">&nbsp;&nbsp;&nbsp;Category</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="description" type="text" placeholder="Description"
                    style="height: 10rem;" ng-model="description"></textarea>
                <label for="description">Job Description</label>
            </div>
            <div class="row">
                <div class="form-floating mb-3 col-sm-10">
                    <textarea class="form-control " id="howToApply" type="text" placeholder="How to Apply"
                        ng-model="how_to_apply"></textarea>
                    <label for="howToApply">&nbsp;&nbsp;&nbsp;How to Apply</label>
                </div>
                <div class="mb-3 col-sm-2 d-flex align-items-center justify-content-between">
                    <label for="logoUrl" class="form-label mb-0">Public: </label>
                    <input class="form-check-input" id="isPublic" style="height: 50%; width: 20%;" type="checkbox"
                        ng-model="is_public" />
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col-sm-6">
                    <input class="form-control" id="emailAddress" type="email" placeholder="Email Address"
                        ng-model="email" />
                    <label for="emailAddress">&nbsp;&nbsp;&nbsp;Email Address</label>
                </div>
                <div class="form-floating mb-3 col-sm-3 border-end">
                    <div class="fs-6 text-secondary">
                        Created At:
                    </div>
                    <div>
                        {{ created | date:'dd/MM/yy h:mm a' }}
                    </div>
                </div>
                <div class="form-floating mb-3 col-sm-3 align-items-end py-2">
                    <span ng-if="!canExtend && expires > currentDate">
                        <div class="fs-6 text-secondary my-0">
                            Expires On:
                        </div>
                        <div>
                            {{ expires | date:'dd/MM/yy h:mm a' }}
                        </div>
                    </span>
                    <span ng-if="canExtend"
                        style="align-items: center; justify-content: center; justify-items: center;">
                        <div class="d-grid mx-auto">
                            <button class="btn btn-warning" ng-click="extendValidity()">Extend Validity for 30
                                Days</button>
                        </div>

                    </span>
                    <span ng-if="currentDate > expires" class="row align-items-center d-flex justify-content-center">
                        <div class="col-sm-5 my-0 mt-2 mb-0">
                            <div class="fs-6 text-secondary text-center">
                                Expires On:
                            </div>
                        </div>
                        <div class="col-sm-7 ">
                            <div class="d-grid mx-auto">
                                <div class="fs-6 btn btn-outline-danger disabled">
                                    Expired
                                </div>
                            </div>
                        </div>
                    </span>


                    <!-- <input class="form-control" id="expiresAt" type="datetime-local"
                    placeholder="Expires At" ng-model="expires" />
                <label for="expiresAt">&nbsp;&nbsp;&nbsp;Expires On</label> -->
                </div>
            </div>
            <div class="d-grid">
                <button class="btn btn-outline-warning btn-lg" id="submitButton" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>