<div class="content-animate">
    <div class="container">
        <div class="row">
            <div class="display-4 fw-bold m-5" style="color: black;">
                Top-notch candidates who will propel your company to
                new heights
            </div>
        </div>
        <div class="row ms-4 mb-5">
            <div class="col-sm-4">
                <div class="d-grid mt-auto gap-2">
                    <div class="btn btn-dark" style="background-color: black; border-radius: 0;">Create Company Profile
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="d-grid mt-auto gap-2">
                    <div class="btn btn-outline-dark" style="border-radius: 0; border-color: black; color: black;"
                        onmouseover="this.style.backgroundColor='black'; this.style.color='white';"
                        onmouseout="this.style.backgroundColor=''; this.style.color='black';">
                        View Pricing
                    </div>
                </div>
            </div>



        </div>

        <div class="fs-2 ms-5 font-sans">
            Trusted by Companies:
        </div>
        <div class="row justify-content-center mt-5 mb-5 ms-0 ps-0 me-0 pe-0">
            <div class="col-sm-2">
                <div class="d-grid mt-auto gap-2">
                    <div class="btn btn-dark fw-bold" style="background-color: black; font-family: Archivo Narrow">
                        SparkWave
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="d-grid mt-auto gap-2">
                    <div class="btn btn-dark fw-bold" style="background-color: black; font-family: Exo;">
                        Betanio
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="d-grid mt-auto gap-2">
                    <div class="btn btn-dark fw-bold" style="background-color: black; font-family: Sriracha">
                        Streamio
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="d-grid mt-auto gap-2">
                    <div class="btn btn-dark fw-bold" style="background-color: black; font-family: Kodchasan;">
                        POVERA
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="d-grid mt-auto gap-2">
                    <div class="btn btn-dark fw-bold" style="background-color: black; font-family: 'Nova Cut'">
                        SubDech
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="white-bg pt-5">
        <div class="container">
            <div class="row ms-5 me-5 pb-3">
                <div class="display-5 fw-bold" style="color: black;">Why Choose Us</div>
            </div>
            <div class="row p-5">
                <div class="col-sm-6">
                    <div class="fs-5"><i class="bi bi-laptop-fill"></i>&nbsp;Tailored Matchmaking</div>
                    <div class="lead fs-6 mt-3 text-secondary text-justify">
                        With our advanced algorithms and personalized approach, we match companies with
                        candidates who not only posses the requisite skills but also align with their company culture
                        and
                        values. This tailored Matchmaking process facilitates long-term success by fostering productive
                        and
                        harmonious work environments</div>
                </div>
                <div class="col-sm-6">
                    <div class="fs-5"><i class="bi bi-laptop-fill"></i>&nbsp;Comprehensive Skill Assessement</div>
                    <div class="lead fs-6 mt-3 text-secondary text-justify">
                        We go beyond resumes by offering comprehensive skill assessment tools that allow companies to
                        gauge
                        candidates' abilities accurately. Whether it's technical proficiency, soft skills, or
                        industry-specific knowledge, our assessments provide valuable insights to ensure companies hire
                        individuals who can hit the ground running and contribute meaningfully from day one.
                    </div>
                </div>
            </div>
            <div class="row p-5 pt-3">
                <div class="col-sm-6">
                    <div class="fs-5"><i class="bi bi-laptop-fill"></i>&nbsp;Community Networking</div>
                    <div class="lead fs-6 mt-3 text-secondary text-justify">
                        Through our vibrant community and networking events, we facilitate meaningful connections
                        between
                        companies and industry professionals. These interactions not only provide companies with access
                        to a
                        diverse pool of talent but also foster collaboration, knowledge-sharing, and innovative,
                        empowering
                        companies to thrive in an ever-evolving landscape.
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="fs-5"><i class="bi bi-laptop-fill"></i>&nbsp;Transparent Feedback Mechanism</div>
                    <div class="lead fs-6 mt-3 text-secondary text-justify">
                        We facilitate open and transparent communication between companies and candidates, fostering
                        constructive feedback loops that drive continuous improvement. This feedback mechanism not only
                        ensures that companies hire the best-fit candidates but also enables candidates to refine their
                        skills and qualifications, ultimately benefiting both parties and facilitating mutual growth.
                    </div>
                </div>

            </div>

            <div class="row p-5 pe-0">
                <div class="display-5 fw-bold">
                    Numbers
                </div>
                <div id="stats" class="row mt-5 justify-content-around">
                    <div class="col-sm-2 border-end">
                        <div class="fs-1 fw-bold">
                            {{ countProfessionals | number }}
                        </div>
                        <div class="lead text-secondary">Professionals</div>
                    </div>
                    <div class="col-sm-2 border-end">
                        <div class="fs-1 fw-bold">
                            {{ countCompanies | number }}
                        </div>
                        <div class="lead text-secondary">Companies</div>
                    </div>
                    <div class="col-sm-2 border-end">
                        <div class="fs-1 fw-bold">
                            {{ countOffers | number }}
                        </div>
                        <div class="lead text-secondary">Offers</div>
                    </div>
                    <div class="col-sm-2 border-end">
                        <div class="fs-1 fw-bold">
                            {{ countVisits | number }}
                        </div>
                        <div class="lead text-secondary">Visits</div>
                    </div>
                    <div class="col-sm-2">
                        <div class="fs-1 fw-bold">
                            {{ countUsers | number }}
                        </div>
                        <div class="lead text-secondary">Users</div>
                    </div>
                </div>
                <hr class="mt-5">
            </div>

            <div class="row p-5">
                <div class="display-5 fw-bold">
                    Price List
                </div>
            </div>
            <div class="row p-5">
                <table class="table table-hover table-responsive text-center" style="border: 1px solid white;">
                    <thead>
                        <tr class="table-warning">
                            <th scope="col" class="text-start py-4 ps-4">Offer<br>Price per Month</th>
                            <th scope="col" class="py-4">Free Tier<br>0.00 &euro;</th>
                            <th scope="col" style="background-color: rgb(250, 187, 32)" class="py-4">Basic Tier<br>15.00
                                &euro;</th>
                            <th scope="col" class="py-4">Premium Tier<br>38.00 &euro;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-secondary text-start py-4 ps-4">Company Profile</td>
                            <td class="py-4">&check;</td>
                            <td style="background-color: rgb(250, 187, 32)" class="py-4">&check;</td>
                            <td class="py-4">&check;</td>
                        </tr>
                        <tr>
                            <td class="text-secondary text-start py-4 ps-4">Unlimited Listings</td>
                            <td class="py-4">&cross;</td>
                            <td style="background-color: rgb(250, 187, 32)" class="py-4">&check;</td>
                            <td class="py-4">&check;</td>
                        </tr>
                        <tr>
                            <td class="text-secondary text-start py-4 ps-4">Listing Promotion</td>
                            <td class="py-4">&cross;</td>
                            <td style="background-color: rgb(250, 187, 32)" class="py-4">&cross;</td>
                            <td class="py-4">&check;</td>
                        </tr>
                        <tr>
                            <td class="text-secondary text-start py-4 ps-4">Company Feature</td>
                            <td class="py-4">&cross;</td>
                            <td style="background-color: rgb(250, 187, 32)" class="py-4">&cross;</td>
                            <td class="py-4">&check;</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="row justify-content-around pb-5 ">
                <div class="col-sm-4">
                    <div class="d-grid mx-0">
                        <div class="btn btn-dark mb-5" style="border-radius: 0; background-color: black;">
                            Create Company Profile
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>