<div class="content-animate">
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="btn btn-danger rounded" ng-click="logout()" style="position: absolute; top: 100px; float:right; right:120px">Logout</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="display-4 fw-bold my-5 text-center ">
                    {{title}}
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5 justify-content-center">
            <div class="col-sm-3">
                <div class="d-grid mx-auto">
                    <div class="btn btn-outline-danger" ng-click="goToPage('/admin/jobs')">
                        CRUD Jobs
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="d-grid mx-auto">
                    <div class="btn btn-outline-danger" ng-click="goToPage('/admin/affiliates')">
                        View Affiliates
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="d-grid mx-auto">
                    <div class="btn btn-outline-danger" ng-click="goToPage('/admin/edit-categories')">
                        Edit Categories/Default Expiry
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>